{% import_yaml "opensds/defaults.yaml" as defaults %}
{% import_yaml "opensds/osfamilymap.yaml" as osfamilymap %}
{% import_yaml "opensds/osmap.yaml" as osmap %}

{% set opensds = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
        osfamilymap,
        grain='os_family',
        merge=salt['grains.filter_by'](
            osmap,
            grain='os',
            merge=salt['pillar.get']('opensds', {}),
            ),
        ),
    base='opensds',
) %}
